# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.d
*.pcm

# Plots
*.root
*.pdf
*.png
*.jpeg
*.eps

# Text files
*.txt
*.yaml

# Directories
Fits/
Plots/


run_plotter
run_yields
__init__.py